.wrapper {
  width: 80%;
  margin: 20px auto;
}

.h1 {
  font-size: 28px;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
  width: 80%;
  margin-top: 20px;
}

.container img {
  max-width: 100%;
  min-height: 100px;
  height: auto;
}

.imgWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgWrapper p {
  padding-top: 5px;
}

.act {
  opacity: 0.7;
}
